.flex-container {
    display: flex;
    flex-direction: column;
     background-color: rgb(30, 255, 124);
  }
  
  .flex-container > div {
    background-color: #a05c5c;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
  }
  